**/.git

university/_main_courses/302_COMPSYS/repo_python_assignment/
university/_main_courses/209_COMPSYS/ec209-2025-labs-CueHa/
university/_main_courses/305_COMPSYS/phenotypically-ambiguous-character-flaps-through-phenotypically-ambiguous-space/
university/_main_courses/302_COMPSYS/repo_java_assignment/
university/_main_courses/209_COMPSYS/teamRepo/ec209-2025-project-2025_team_05/

fsae47/servo_debugging_linux/autonomous/

__pycache__/